@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
nav li {
    display: inline-block;
    margin: 0 auto;
    height: 100%;
    color:#eee;
     
}
ul{
    list-style-type: none;
    margin-left: 0;
    
}

li{
    color: #777;
    padding: 5px;
    
}

nav{ z-index: 1;
    background-color: white;
    position: sticky;
    top:0;
    border-top: 2px solid #eee;
    border-bottom: 2px solid #eee;
}
body {
    font-family: Source Sans Pro;
    background-color: #eee;
    justify-content: center;

}
.newspaper-container{
    margin: 0 auto;
    background-color: white;
    width: 700px;
    border-radius: 5px;
    box-shadow: #ddd;
    padding: 50px 50px 10px 50px;
}
header {
    font-family: Abril Fatface;
    text-align:center;
}

title {
    font-family: Roboto Slab;
    text-align:center;
}
.date{
    text-align:left;
}